<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Shoe Shop</title>
    </head>
    <body>
        <div class="container">
<!-- Header -->
            <div class="page-header">
                <h1>Shoe Shop</h1>
            </div>
<!-- Container -->
            <div class="row">
                <div class="col-md-6">
                    <h2>Stores:</h2>
                    {% if all_stores is not empty %}
                    <h3>All Stores:</h3>
                    <ul>
                        {% for store in all_stores %}
                            <li><a href="/store/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <h4>No stores have been added yet. Please add one below!</h4>
                    {% endif %}
                    <h3>Create a Store:</h3>
                    <form action="/create/store" method="post">
                        <div class="form-group">
                            <label for="store_name">Store Name:</label>
                            <input type="text" name="store_name" value="">
                        </div>

                        <h5>Address:</h5>
                        <div class="form-group">
                            <label for="street">Street:</label>
                            <input type="text" name="street" value="">
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" name="city" value="">
                        </div>
                        <div class="form-group">
                            <label for="state">State:</label>
                            <input type="text" name="state" maxlength="2">
                        </div>
                        <button type="submit" name="button">Create Store</button>
                    </form>
                </div>

                <div class="col-md-6">
                    <h2>Brands:</h2>
                    {% if all_brands is not empty %}
                    <h3>All Brands:</h3>
                    <ul>
                        {% for brand in all_brands %}
                            <li><a href="/brand/{{ brand.getId }}">{{ brand.getBrandName }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <h4>No brands have been added yet. Please add one below!</h4>
                    {% endif %}
                    <h3>Create a Store:</h3>
                    <form action="/create/brand" method="post">
                        <div class="form-group">
                            <label for="brand_name">Brand Name:</label>
                            <input type="text" name="brand_name" value="">
                            <button type="submit" name="button">Create Brand</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
